.header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  padding: 30px 24px;
  box-sizing: border-box;
  position: relative;
}

.header__title {
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
}

.header__title span {
  color: var(--orange);
}