.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 24px;
  box-sizing: border-box;
}

.footer__license {
  font-size: 12px;
  color: var(--grey);
}

.footer__license a {
  color: var(--orange);
}