.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.weather__not-found-text {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: var(--grey);
}

.weather__geo {
  width: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.weather__geo-text {
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: var(--grey);
}

.weather__conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.weather__icon {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.weather__conditions-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.weather__temps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.weather__temp {
  line-height: 1;
  font-weight: bold;
}

.weather__temp_main {
  font-size: 40px;
}

.weather__temp_secondary {
  font-size: 20px;
  color: var(--grey);
}

.weather__weather-text {
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: var(--orange);
}

.weather__details-container {
  width: 100%;
}

.weather__details {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.weather__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid var(--grey);
}

.weather__detail:last-child {
  border: 0;
}

.weather__detail-title {
  font-size: 12px;
  font-weight: bold;
  color: var(--grey);
}

.weather__detail-info {
  font-size: 20px;
  font-weight: bold;
}

.weather__detail-info span {
  font-size: 12px;
}